body {
  font-family: Verdana, Geneva, sans-serif;
  /* max-width: 1000px; */
  /* margin: 0 auto; */
  /* padding-top: 72px; */
  /* -webkit-font-smoothing: antialiased; */
  font-size: 10pt;
  color: #333;
  line-height: normal;
}

.main {
  margin: 0 auto;
  max-width: 80em;
  background-color: #f6f6ef;
}

.page {
  padding: 0 1.5em;
}

.old {
  transition: all 1s ease-in;
}

.new {
  opacity: 0;
  transition: all 1s ease-in;
}

.comhead {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 8pt;
  color: #828282;
}

.subtext {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 7pt;
  color: #828282;
}

.nav {
  padding: 2px;
  background-color: #ff6600;
}

.nav p {
  display: inline;
  padding: 15px;
}

.nav ul {
  margin-left:0;
  padding-left:0;
  display: inline;
}

.nav ul > li {
  margin-left: 0;
  padding: 3px 15px;
  list-style: none;
  display: inline;
}

.nav ul > li.first {
  margin-left: 0;
  border-left: none;
  list-style: none;
  display: inline;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: underline;
}

.comment {
  margin-top: 1em;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 9pt;
  line-height: normal;
  font-weight: normal;
}

.comments {
  list-style: none;
  padding-left: 2em;
  font-size: 9pt;
}

.top-item {
  font-size: 9pt;
}

.top-item > ul {
  padding: 0;
}

.title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
}

.stories {
  list-style-position: none;
  padding-left: 1em;
}